<!--The content below is only a placeholder and can be replaced.-->


<html>

<head>

    <body>

        <div>
            <h2>Remo File Manager</h2>
            <p><button>Move Backward</button> <button>Move Forward</button></p>
            <p>
                Current Path: <b>.</b> <br/> Total number of files: 10 <br/> Total size of files: 1789
            </p>
            <ul>
                <li>Awesome File 1 (text, 12, 2020-05-01)</li>
                <li>Awesome File 2 (text, 34, 2020-05-03)</li>
                <li>Awesome Image 1 (image, 12, 2020-05-04)</li>
                <li>Awesome Image 2 (image, 34, 2020-05-05)</li>
                <li>Folder 1 (folder, 2020-05-02)</li>
            </ul>
        </div>




    </body>
</head>

</html>